"*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial,sans-serif;
}


body{
 
  background-color: #FFFFFF;
}
header{
    height: auto;
    width: 100%;
}

header img{width: 100%;
            }


.container {
    position: relative;
    padding: 0px !important;
    margin: 30px 0px 40px;
}
   .container img {
    width: 100%;
}
.prev, .next
{
    display: block;
    height: 100px;
    width: 40px;
    position: absolute;
    top: 40%;
}

.prev
{
    background: url('../Global_imgs/FlechaAnterior.png') no-repeat;
    background-position: 0 0;
    left: 5px;
}

.prev:hover
{
    background-position: -2px 0px;
}

.next
{
    background: url('../Global_imgs/FlechaSiguiente.png') no-repeat;
    background-position: 0 0;
    right: 0;
}

.next:hover
{
    background-position: 2px 0px;
}

@media screen (device-width: 320px), (device-height: 640px) 
  and (orientation: portrait) {
    .prev, .next {
        top: 22%;
        }
}

/*Estilos de cabezal codificado se usan ecaso de no utilizar la img cabezal*/
.cabezal{
    background-color: #87C556;
    color: #FFFFFF;
    font-family: verdana,sans-serif;
    display: flex;
    padding: 40px;
    font-size: 95px
}
.cabezal h1{
    font-size: 0.8em;
}
.cabezal h1 span{
    font-size: 0.45em;
}
 .cabezal font {
    font-size: 0.45em;
    font-weight: lighter;
    vertical-align: text-bottom;
    padding: 47px 45px 0px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.arcoiris{
    width: 100%;
    height: 50px;
    background: #123456;/*linear-gradient(left, #f00, #f80, #ff0, #0f0, #00f, #60f, #c0f); esto es para el arcoiris*/
}

/*Estilos para  secciones de tablas*/
#cuerpo{
    width: 100%;
    height: auto;
    font-size: 13px;
}
table td, table th{
    padding: 5px 0px 5px 20px;
    font-size:0.9em;
}
table a {
    text-decoration: none;
    color: #000;
}
table a:hover {
    text-decoration: none;
    color: #2FB3EA;
}
#cuerpo  table th{
    letter-spacing:1px;
    font-size:1.3em;
}
/*Estilos para tablas rotograbado*/

.Rot1{
    width: 80%;
    margin: 50px auto;
    text-align: left;
}
.Rot1 .titth
{
    background-color:#69bd45;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
        width: 40%;
}

.Rot1 .Subtitth{
    background-color:#FFFFFF;
    color:#87C557;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}

.Rot1 tbody tr:nth-child(odd) {
    background-color: #D8EBCB;
    color:#000000;
}
/* Estilos para tablas SERIGRAFIA*/
.Ser{
    width: 80%;
    margin: 50px auto;
    text-align: left;
}
.Ser .titth
{
    background-color:#D02026;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
    width:20%;
}

.Ser .Subtitth{
    background-color:#FFFFFF;
    color:#D02026;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}

.Ser tbody tr:nth-child(odd) {
    background-color:#FCD6D8;
    color:#000000;
}

/* Estilos para tablas Quimica Varn*/
img.tablaQ {
    width: 94%;
    margin: 25px 12px;
}
.QuiV{
    width: 95%;
    margin: 50px auto;
    text-align: left;
}
.QuiV .titth
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
        width: 30%;
}

.QuiV .Subtitth{
    background-color:#FFFFFF;
    color:#00AEEF;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}

.QuiV tbody tr:nth-child(odd) {
    background-color:#E4E6EF;
    color:#000000;
}

.fa-circle{
    color:#25327B;
}

.QuiVB{
    width:60%;
    margin: 50px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
}
.QuiVB .titth
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
    width: 30%;
    line-height:1;
}
.QuiVB span {
    color: #25327B;
    font-weight:bold;
}

@media screen and (max-width: 480px) {
.QuiVB{
    width:100%;
    margin: 5px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
    padding: 10px
}
}

.QuiVR{
    width:90%;
    margin: 50px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
}
.QuiVR .titth
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
    width: 30%;
    line-height:1;
}
.QuiVR tbody tr:nth-child(odd) {
    background-color:#E4E6EF;
    color:#000000;
}
.QuiVR ol {
        padding: 15px 30px 15px 70px;
}
.QuiVR span {
    color: #25327B;
    font-size: 1.1em;
    font-weight:bold;
}

@media screen and (max-width: 480px) {
.QuiVR{
    width:100%;
    margin: 5px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
    padding: 10px
}
.QuiVR ol {
   padding: 15px;
   text-align: justify;
}
}


/* FIN Estilos para tablas Quimica Varn*/
                /*/////////////MEDIA PARA TABLAS RESPONSIVAS GENERAL/////////////////////////////////*/
@media screen and (max-width: 480px) {
    table {
        border:0;
    }

    table tr {
        margin-bottom: 1px;
        display: block;
        border-bottom: 2px solid #777777;

    }

    table td {
        display: block;
        text-align: right;
        font-size: 0.7em;
        border-bottom: 1px solid #ccc;
        padding:5px 7px;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
 table thead tr:nth-child(1)  {
        background-color: #FFFFFF;
    }
    table thead tr:nth-child(2)  {
        display: none;
    }

}
 /*//////////////////////////////////////////////*/

/* FIN Estilos para tablas rotograbado*/

.logofirma {
    width: 100%;
    height: 150px;
}
.logofirma img{
    float: right;
    margin:15px 80px;
}
.conten{
      margin: 0 auto;
      color: #333333;
      margin-top:5%;
      width: 85%;
      height: 100%
      }

.conten li {
    line-height: 1.9;
}

.conten img{width: 100%;}

footer{
    background-color: #34495E;
    color: #FFFFFF;
    width: 100%;
    font-size: 1em;
    position: absolute;
}
    footer div {
        padding: 10px;
        border-bottom: 1px solid;
        min-height: 160px;
    }
    footer div a {
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
            list-style: none;
            list-style-image: none;
    }
    footer li {
    list-style: none;
    text-align: left;
    padding-left: 15px;
    }
    footer div li a {
    font-size: .7em;
    font-weight: normal;
    text-align: left !important;
    }
footer.w3-row.boxfooter {
    position: fixed;
    bottom: 0px;
}
footer.w3-row.boxfooter div {
    display: flex;
}
@media screen and (max-width: 435px) {
    footer {
    position:relative;
    bottom: 0;
    }
    footer div {
           min-height: 35px !important;
            position: static;
    }   
}
@media screen and (max-width:300px) {

#cuerpo{
    width: 100%;
    min-height: 500px;
    font-size: 13px;
}
.logofirma img {
    float: right;
    margin: 15px 20px;
    width: 80%;
}
}
#pleca{
    width: 100%
}
#pleca img {
    padding-top: 12px;
}
*/
/* Ocultamos la sección de resultados del buscador google que son patrocinados*/
.gsc-adBlock{ 
        display: none !important; 
} 

.gcsc-branding-text,.gcsc-branding-img-noclear,.gcsc-branding-text .gcsc-branding-text-name{ 
        display:none; 
} 

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 15px;
    width: 255px;
}


.gsc-control-cse.gsc-control-cse-es {
    background-color: transparent !important;
    border: 0px transparent !important;
    padding: 30px 0px;
    float: left;
}

input#gsc-i-id1 {
    background: transparent !important;
    text-indent: 0px !important;
    margin: 0.0625em 0em 0em 0.5em !important;
}

.Lupa {
    width: 35px;
    float: right;
    position: relative;
    margin: 16px 20px 0px 0px;
    height: 35px;
    color: #b1b1b1;
    font-size: 1.7em;
}
td.gsc-search-button {
    display: none;
}

td.gsib_b {
    display: none;
}
/*edicion de estilos para el buscador*/
div#___gcse_0 {
    width: 20% !important;
    float: right !important;
}
#___gcse_0 table tr {
    display: flex;
}
table.gsc-search-box tr td {
    border: 0px none !important;
    padding: 0;
}
input.gsc-search-button.gsc-search-button-v2 {
    content: "\f002" !important;
    background: dodgerblue !important;
    border: 1px !important;
    width: 23px !important;
    height: 23px !important;
    padding: 5px;
}
@media screen and (max-width:997px) {
div#___gcse_0 {
    width: 47% !important;
    float: right !important;
}
}
@media screen and (max-width:550px) {
div#___gcse_0 {
    width: 100% !important;
    float: right !important;
}

table.gsc-search-box tr {
    border: 0px none !important;
            
}
table.gsc-search-box td {
    display:inline-grid !important;
}

}
@media screen and (max-width:480px) {
div#___gcse_0 {
    width: 100% !important;
    float: right !important;
}

table.gsc-search-box tr {
    border: 0px none !important;
}
table.gsc-search-box td {
    display:inline-grid !important;
}
}


/* Fin estilos google*/

@media screen and (max-width:480px) {

    .container {
    position: relative;
    padding: 0px !important;
    margin: 50px 0px 40px;
    }
    footer.w3-row.boxfooter div {
    display: flex;
    margin: 6px;
}
    .w3-container, .w3-panel {
    /* padding: 0.01em 16px; */
    }
    .Lupa {
    float: right;
    position: absolute;
    right: -11px;
    top: 45px;
    }
    div#___gcse_0 {
    width: 91% !important;
    float: right !important;
        height: 30px;
}
    .gsc-control-cse.gsc-control-cse-es {
    background-color: transparent !important;
    border: 0px transparent !important;
    padding: 10px 0px 0px 0px;
    float: left;
}
}
