"*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial,sans-serif;
}


body{
 
  background-color: #FFFFFF;
}
header{
    height: auto;
    width: 100%;
}

header img{width: 100%;
            }

div#pleca {
    margin: 15px 0px;
}

.container {
    z-index: -900;
    position: relative;
	padding:20px 5px;
}
/*Estilos de cabezal codificado se usan ecaso de no utilizar la img cabezal*/
.cabezal{
    background-color: #87C556;
    color: #FFFFFF;
    font-family: verdana,sans-serif;
    display: flex;
    padding: 40px;
    font-size: 95px
}
.cabezal h1{
    font-size: 0.8em;
}
.cabezal h1 span{
    font-size: 0.45em;
}
 .cabezal font {
    font-size: 0.45em;
    font-weight: lighter;
    vertical-align: text-bottom;
    padding: 47px 45px 0px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.arcoiris{
    width: 100%;
    height: 50px;
    background: #123456;/*linear-gradient(left, #f00, #f80, #ff0, #0f0, #00f, #60f, #c0f); esto es para el arcoiris*/
}
/* FIN Estilos de cabezal codificado*/

/*Estilos para Suajadoras*/


.container img {
    width: 100% !important;
	  padding-bottom: 30px;
	
}
@media screen and (max-width: 765px) and (min-width:200px) {
    a .prev {

        background: url('../Global_Imgs/FlechaAnterior.png') no-repeat !important;
        }
    
    }

/*FINEstilos para Suajadoras*/

/*Estilos para  secciones de tablas*/
#cuerpo{
    width: 100%;
    height: auto;
    font-size: 13px;
}
table td, table th{
    padding: 5px 0px 5px 20px;
    font-size:0.9em;
}
table a {
    text-decoration: none;
    color: #000;
}
table a:hover {
    text-decoration: none;
    color: #2FB3EA;
}
#cuerpo  table th{
    letter-spacing:1px;
    font-size:1.3em;
}
/*Estilos para tablas rotograbado*/

.Rot1{
    width: 80%;
    margin: 50px auto;
    text-align: left;
}
.Rot1 .titth
{
    background-color:#69bd45;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
        width: 40%;
}

.Rot1 .Subtitth{
    background-color:#FFFFFF;
    color:#87C557;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}

.Rot1 tbody tr:nth-child(odd) {
    background-color: #D8EBCB;
    color:#000000;
}
/* Estilos para tablas SERIGRAFIA*/
.Ser{
    width: 80%;
    margin: 50px auto;
    text-align: left;
}
.Ser .titth
{
    background-color:#D02026;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
    width:20%;
}

.Ser .Subtitth{
    background-color:#FFFFFF;
    color:#D02026;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}

.Ser tbody tr:nth-child(odd) {
    background-color:#FCD6D8;
    color:#000000;
}

/* Estilos para tablas Quimica Varn*/
img.tablaQ {
    width: 98%;
    margin: 25px 12px;
}
.QuiV{
    width: 95%;
    margin: 50px auto;
    text-align: left;
}
.QuiV .titth
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
        width: 30%;
}

.QuiV .Subtitth{
    background-color:#FFFFFF;
    color:#00AEEF;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}

.QuiV tbody tr:nth-child(odd) {
    background-color:#E4E6EF;
    color:#000000;
}

.fa-circle{
    color:#25327B;
}

.QuiVB{
    width:60%;
    margin: 50px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
}
.QuiVB .titth
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
    width: 30%;
    line-height:1;
}
.QuiVB span {
    color: #25327B;
    font-weight:bold;
}

@media screen and (max-width: 480px) {
.QuiVB{
    width:100%;
    margin: 5px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
    padding: 10px
}
}

.QuiVR{
    width:90%;
    margin: 50px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
}
.QuiVR .titth
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
    width: 30%;
    line-height:1;
}
.QuiVR tbody tr:nth-child(odd) {
    background-color:#E4E6EF;
    color:#000000;
}
.QuiVR ol {
        padding: 15px 30px 15px 70px;
}
.QuiVR span {
    color: #25327B;
    font-size: 1.1em;
    font-weight:bold;
}

@media screen and (max-width: 480px) {
.QuiVR{
    width:100%;
    margin: 5px;
    text-align: left;
    line-height: 2.3;
    font-size: .9em;
    padding: 10px
}
.QuiVR ol {
   padding: 15px;
   text-align: justify;
}
}


/* FIN Estilos para tablas Quimica Varn*/
                /*/////////////MEDIA PARA TABLAS RESPONSIVAS GENERAL/////////////////////////////////*/
@media screen and (max-width: 480px) {
    table {
        border:0;
    }

    table tr {
        margin-bottom: 1px;
        display: block;
        border-bottom: 2px solid #777777;

    }

    table td {
        display: block;
        text-align: right;
        font-size: 0.7em;
        border-bottom: 1px solid #ccc;
        padding:5px 7px;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
 table thead tr:nth-child(1)  {
        background-color: #FFFFFF;
    }
    table thead tr:nth-child(2)  {
        display: none;
    }

}
                /*//////////////////////////////////////////////*/

/* FIN Estilos para tablas rotograbado*/


.logofirma {
    width: 100%;
    height: 150px;
}
.logofirma img{
    float: right;
    margin:15px 80px;
}
.conten{
      margin: 0 auto;
      color: #333333;
      margin-top:5%;
      width: 85%;
      height: 100%
      }

.conten li {
    line-height: 1.9;
}

.conten img{width: 100%;}

footer{
  background-color:#34495E;
  color: #FFFFFF;
  width: 100%;
  font-size: 14px;
  position:relative;
    bottom: 0;
   z-index: 9000;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}
.boxfooter {
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    z-index: -90;
}
.boxfooter div {
    padding-left: 9%;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
}
.boxfooter ul {
    list-style: none;
}
.boxfooter div li a{
    font-size: .9em;
    font-weight: lighter;
    color: #8c8c8c;
    letter-spacing: 0px;
    padding-top: 5px;
    text-decoration: none;
    line-height: 2;
    cursor: pointer;
}
div li a.boxfooter :hover{
    color:#ffffff;
}
footer ul .submenu li a{
    display: block;
    padding-left: 25px;
}

@media screen and (max-width:900px) {
    div#pleca {
        margin: 15px 0px 0px 0px;
    }
    #pleca img.estiloMano {
        width: 19em;
        display: flex;
    }
    header img {
        width: 100%;
        margin: -20px 0px;
    }
.nav{
        padding: 27px 17px;
    }
}

@media screen and (max-width:770px) {
    div#pleca {
        margin: 15px 0px 0px 0px;
    }
    #pleca img.estiloMano {
        width: 19em;
        display: flex;
    }
    header img {
        width: 100%;
        margin: -20px 0px;
    }
.nav{
      padding: 27px 17px !important;
    }
}
@media screen and (max-width:550px) {
div#pleca {
    margin: 15px 0px 0px 0px;
}
#pleca img.estiloMano {
    width: 80%;
    display: flex;
}
header img {
    width: 100%;
    margin: -20px 0px;
}
#cuerpo{
    width: 100%;
    min-height: 500px;
    font-size: 13px;
} 
  footer{
  	background-color:#34495E;
  	color: #FFFFFF;
  	width: 100%;
  	font-size: 12px;
  	position:relative;
    bottom: 0;
    z-index: -9;
	padding-bottom:30px;
	}
.boxfooter {
     width: 90%;
    display: block;
    
    padding: 15px;
}
.boxfooter div {
    padding-left: 9%;
    width: 100%;
    
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    padding:10px;
    border-bottom: 1px solid #8c8c8c;
}
.boxfooter div li {
    font-size: 10px;
    font-weight: lighter;
    color: #8c8c8c;
    letter-spacing: 0px; 
     padding-top: 5px;
}

}
@media screen and (max-width:300px) {
div#pleca {
    margin: 15px 0px 0px 0px;
}

#pleca img.estiloMano {
    width: 80%;
    display: flex;
}
header img {
    width: 100%;
    margin: -20px 0px;
}
#cuerpo{
    width: 100%;
    min-height: 500px;
    font-size: 13px;
}
.logofirma img {
    float: right;
    margin: 15px 20px;
    width: 80%;
}


  footer{
  background-color:#34495E;
  color: #FFFFFF;
  width: 100%;
  font-size: 12px;
  position:relative;
  bottom: 0;
  z-index: -9;
}
.boxfooter {
     width: 90%;
    display: block;
    margin: 0 auto;
    padding: 15px;
}
.boxfooter div {
    padding-left: 10%;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    padding:10px;
    border-bottom: 1px solid #8c8c8c;
}
.boxfooter div li {
    font-size: 10px;
    font-weight: lighter;
    color: #8c8c8c;
    padding-top: 5px;
}

}

/* Ocultamos la sección de resultados del buscador google que son patrocinados*/
.gsc-adBlock{ 
        display: none !important; 
} 

.gcsc-branding-text,.gcsc-branding-img-noclear,.gcsc-branding-text .gcsc-branding-text-name{ 
        display:none; 
} 

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 15px;
    width: 255px;
}

input#gsc-i-id1 {
    background: transparent !important;
    text-indent: 0px !important;
    margin: 0.0625em 0em 0em 0.5em !important;
}

.Lupa {
    display: inline-flex;
    width: 25px;
    float: right;
    position: relative;
    margin: 16px 0px 0px 0px;
    height: 25px;
    background: #ccc;
    border-radius: 5px;
}
.Lupa a {
    text-align: center;
    padding: 0 5px;
    color: #fff;
}
.Lupa span {
    width: 0px !important;
    padding: 1px 2px;
}
@media screen and (max-device-width: 500px) {
    .Lupa {
        display: block;
        width: 25px;
        float: left;
        position: absolute;
        margin: 6px 0px 0px 0px;
        height: 25px;
        background: #ccc;
        border-radius: 5px;
        right: 18px;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)  {
    .Lupa {
       
        display: block;
        width: 25px;
        float: left;
        position: absolute;
        margin: 27px 0px 0px 0px;
        height: 25px;
        background: #ccc;
        border-radius: 5px;
        right: 18px;
    
    }
}
/*edicion de estilos para el buscador*/
div#___gcse_0 {
    width: 25% !important;
    float: right !important;
}
#___gcse_0 table tr {
    display: flex;
}
table.gsc-search-box tr td {
    border: 0px none !important;
    padding: 0;
}
input.gsc-search-button.gsc-search-button-v2 {
    content: "\f002" !important;
    background: dodgerblue !important;
    border: 1px !important;
    width: 23px !important;
    height: 23px !important;
    padding: 5px;
}
@media screen and (max-width:997px) {
div#___gcse_0 {
    width: 47% !important;
    float: right !important;
}
}
@media screen and (max-width:550px) {
div#___gcse_0 {
    width: 100% !important;
    float: right !important;
}

table.gsc-search-box tr {
    border: 0px none !important;
            
}
table.gsc-search-box td {
    display:inline-grid !important;
}

}
@media screen and (max-width:480px) {
div#___gcse_0 {
    width: 100% !important;
    float: right !important;
}

table.gsc-search-box tr {
    border: 0px none !important;
}
table.gsc-search-box td {
    display:inline-grid !important;
}
}
/* Fin estilos google*/

