@media only screen and (min-width: 768px) {
body, html
{
    margin: 0px;
    padding: 0px;
}

h2, h3, h4
{
    font-family: Arial;
    color: #000000;
}

.parrafo
{
    font:normal normal 14px Arial;
    color: #000000;
}

.anotaciones
{
    font:normal normal 12px Arial;
    color: #000000;
}

.left
{
    text-align:left;
}


.TintasyMateriales, .VideoPlantaTepeji, .Etica, .Privacidad, .Equipo, .Mapa, .AcercaDeGS
{
    margin: 0 auto;
    text-align:center;
    /*border:1px solid red;*/
}

@font-face {
    font-family: DINAlternateBold;
    src: url(../Fuentes/DIN_Alternate_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: DINCondensedBold;
    src: url(../Fuentes/DIN_Condensed_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: DINProBold;
    src: url(../Fuentes/DINPro_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: DINProLight;
    src: url(../Fuentes/DINPro_Light.ttf);
    /*font-weight: lighter;*/
}

@font-face {
    font-family: DINProMedium;
    src: url(../Fuentes/DINPro_Medium.ttf);
    /*font-weight: bold;*/
}

/*----------------------------------------------*/

#divGlobal
{
    /*border:1px solid red;*/
    /*height:1000px;*/
}

#divGlobalHeader
{
	z-index:5;
    border-bottom: 2px solid #C9C9C9;
    margin: 0px;
    position: relative;
}

#divGlobalContent
{
    /*border: 3px solid blue;*/
}

#divGlobalFooter
{
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
    background-color: #E3E3E3;
    margin: 0px;
    /*padding: 25px 0;*/
    /*height: 300px;*/
}

#divLogoGSHeader
{
    width: 30%;
    height: 55px;
    float: left;
    text-align:center;
}

#divLogoGSHeader img
{
    width: 100%;
    max-width: 297px;
}

#divMenuSuperior
{
    width: 60%;
    height: 55px;
    float: right;
    position: relative;
}

.clear
{
    clear: both;
}

#divtMenuSuperior
{
    position: absolute;
    bottom: 10px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

#tMenuSuperior
{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#tMenuSuperior tr td
{
    margin: 0px;
    padding-right: 40px;
}


/***************** CAMBIO DE IMAGENES ****************************************/
#animacion {
	/*float:left;*/
	width:100%;
	margin:0;
	padding:0;
}

#animacion_img {
	/*float:left;*/
	/*width:1233px;*/
	height:545px;
	padding:0px;
	margin:0px;
	/*border:3px solid #999;*/
	overflow:hidden;
	position:relative;
}

#animacion_img img {
	float:left;
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}

/*******************************************************************************/

#divtMenuFooter
{
    border-top: 15px solid #BDBDBD;
    padding: 7px 0;
}

#tMenuFooter
{
    /*border: 1px solid green;*/
    margin: 0 auto;
    width:85%;
}

#tMenuFooter tr td
{
    /*font:normal bold 14px Arial;*/
    /*border: 1px solid green;*/
    width: 25%;
    /*text-align:center;*/
}
/*div#ctl00_RMClientes.RadMenu.RadMenu_Default
{
    margin:0px auto;
    border: 1px solid red;
}*/

#tMenuFooter tr
{
    border: 1px solid red;
}

/******************************************* CORRECCION **********************************/

.MenuByEACA1 ul li a span
{
    /*font:normal normal 12px Arial;*/
}

ul.rmRootGroup.rmHorizontal
{
    background-image: none;
    border: none;
    background-color:transparent;
}

/*++++++++++++++++++++++++++++++++++++++++ CONTACTOS ++++++++++++++++++++++++++++++++++++++++++*/
.Contactos
{
    /*border: 3px solid green;*/
    margin: 0 auto;
    font:normal normal 12px Arial;
}

.Contactos table
{
    padding: 0px 30px 0px 30px;
    margin: 0px auto;
    padding: 5px;
    /*background-color: #F2F2F2;*/
    width:80%;
    /*border: 1px solid #B3B3B3;*/
}

.Contactos table tr td
{
  padding: 0px 30px 0px 30px;
  text-align:left;
  width: 33%;
    
}

.Contactos .Contactos_Alias
{
    font-weight: bold;
    text-align:left;
}
.Contactos .encabezado 
{
    background-color:#0D5EA9;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
    padding: 0px 30px 0px 30px;
}
.ContactosCorreo 
{
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    color:#939598;
}
.ContactosEspacio
{
     height:20px;
}
/*++++++++++++++++++++++++++++++++++++++++ TINTAS Y MATERIALES ++++++++++++++++++++++++++++++++++++++++++*/


/*++++++++++++++++++++++++++++++++++++++++ ETICA ++++++++++++++++++++++++++++++++++++++++++*/
.Etica
{
    width:80%;
    /*border:1px solid yellow;*/
}

.Etica p, .Etica ul, .Privacidad p
{
    text-align:justify;
}

ul.parrafo.numeros
{
    list-style-type:decimal;
}

/*++++++++++++++++++++++++++++++++++++++++ PRIVACIDAD ++++++++++++++++++++++++++++++++++++++++++*/
.Privacidad
{
    width:80%;
}

/*++++++++++++++++++++++++++++++++++++++++ SLIDE ++++++++++++++++++++++++++++++++++++++++++*/
/*:focus
{
	outline: 0;
}

.sliderContainer
{
    width: 100%;
    height: 800px;
    position: relative;
    margin: 25px auto;
    border:1px solid red;
}

#slider
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 100%;
    height: 763px;
    background: #FFFFFF;
    border: 5px solid #BFBFBF;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#slider .slide
{
    width: 100%;
    height: 763px;
    float: left;
}

.prev, .next
{
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 250px;
}

.prev
{
    background: url('../Global_Imgs/FlechaAnterior.png') no-repeat;
    background-position: 0 0;
    left: 0;
}

.prev:hover
{
    background-position: -2px 0px;
}

.next
{
    background: url('../Global_Imgs/FlechaSiguiente.png') no-repeat;
    background-position: 0 0;
    right: 0;
}

.next:hover
{
    background-position: 2px 0px;
}
*/

.container {
  /*max-width: 100%;*/
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container div {
	z-index:-10;
  background-color: white;
  width: 100%;
  /*display: inline-block;*/
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

/*
.next {
  right: 5px;
  background: url('../Global_Imgs/FlechaSiguiente.png') no-repeat;
}

.prev
{
    background: url('../Global_Imgs/FlechaAnterior.png') no-repeat;
  left: 5px;
}
*/


.Presentacion
{
    position:relative;
}
.prev, .next
{
    display: block;
    height: 100px;
    width: 40px;
    position: absolute;
    top: 40%;
}

.prev
{
    background: url('../Global_Imgs/FlechaAnterior.png') no-repeat;
    background-position: 0 0;
    left: 5px;
}

.prev:hover
{
    background-position: -2px 0px;
}

.next
{
    background: url('../Global_Imgs/FlechaSiguiente.png') no-repeat;
    background-position: 0 0;
    right: 0;
}

.next:hover
{
    background-position: 2px 0px;
}

/*++++++++++++++++++++++++++++++++++++++++ MANTILLAS DAY ++++++++++++++++++++++++++++++++++++++++++*/
.MantillasDay
{
    margin:0px auto;
    /*border: 5px solid blue;*/
    width: 100%;
    max-width: 1225px;
}

.MantillasDay .InfoCatImgHdr
{
    width: 100%;
    /*max-width: 1225px;*/
}

.MantillasDay .InfoCatImgFooter
{
    text-align:right;
    padding: 30px 0px 0px 0px;
}

.MantillasDay .InfoCatImgFooter img
{
  /* width: 15%;*/
}

.MantillasDay table
{
    width: 100%;
    /*border: 1px solid green;*/
    /*padding:30px;*/
    padding-top: 30px;
    padding-right: 7.5%;
    padding-bottom: 30px;
    padding-left: 7.5%;
}

.MantillasDay table tr
{
    text-align:left;
}

.MantillasDay table tr td
{
    padding: 0px 30px 0px 30px;
}

.MantillasDay table td.InfoCatTitHdr
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
}

.MantillasDay table td.InfoCatTitHdrUVTech
{
    background-color:#4B2D80;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
}
.MantillasDay table td.InfoCatTitHdrSerigrafia
{
    background-color:#D02026;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
}
.MantillasDay table td.InfoCatTitHdrRotoflex
{
    background-color:#69bd45;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
}
.MantillasDay table td.InfoCatNomCol
{
    background-color:#FFFFFF;
    color:#00AEEF;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}
.MantillasDay table td.InfoCatNomColRotoflex
{
    background-color:#FFFFFF;
    color:#87C557;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}
.MantillasDay table td.InfoCatNomColSerigrafia
{
    background-color:#FFFFFF;
    color:#EC1B30;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}
.InfoCatColorRotoflex
{
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    background-color:#D8EBCB;
    color:#000000;
}
.InfoCatColorUVTech
{
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    background-color:#B099BA;
    color:#000000;
}
.InfoCatColorSIP
{
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    background-color:#939598;
    color:#000000;
}
.InfoCatColorSerigrafia
{
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    background-color:#FCD6D8;
    color:#000000;
}
.InfoCatBlanco, .InfoCatColor, .InfoCatColorTablaBarniz
{
    font-family: Arial;
    font-size: 13px;
    font-weight:normal;
    margin:0px;
    padding:0px;
}


.InfoCatBlanco
{
    background-color:#FFFFFF;
    color:#000000;
}

.InfoCatColor
{
    background-color:#E4E6EF;
    color:#000000;
}

.InfoCatEspacio
{
    height:40px;
}

.InfoCatLink:link {
    text-decoration: none;
    color: #000000;
}

.InfoCatLink:visited {
    text-decoration: none;
    color:#000000;
}

.InfoCatLink:hover {
    text-decoration: none;
    color:#00AEEF
}

.InfoCatLink:active {
    text-decoration: underline;
}
.Justificado{
    text-align: justify;
   /* text-justify: inter-word;*/
}
.img-centrado{
  text-align: center;
}
.bordePunteadoGrisAbajo{
    border-bottom: 2px dotted gray;
}
.bordePunteadoGrisDerecha{
    border-right: 2px dotted gray;
}
.bordePunteadoGrisIzquierda{
    border-left: 2px dotted gray;
}

.imagenEncabezado{
    /*height:30px;*/
    width:20px;
}
.alineadoAbajo{
    vertical-align: bottom;
}
.negrita{
      /*font-family: Arial;*/
    font-size: 14px;
    font-weight:bold;
}
.tablaBarniz{
     padding: 0px 0px 0px 30px;
}

.tablaBarniz table
{
    border-collapse: collapse;
    width: 100%;
    /*border: 1px solid green;*/
    /*padding:30px;*/
    padding-top: 30px;
    padding-right: 7.5%;
    /*padding-bottom: 30px;*/
    padding-left: 7.5%;
}

.tablaBarniz table tr
{
    text-align:left;
}

.tablaBarniz table tr td
{
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 1px;
}
.tablaBarniz table tr td.sinPadding{
    padding-left: 0px;
}
.tablaBarniz table td.InfoCatTitHdr
{
    background-color:#25327B;
    color:#FFFFFF;
    font-family: Arial;
    font-size: 14pt;
    font-weight:bold;
}

.tablaBarniz table td.InfoCatNomCol
{
    background-color:#FFFFFF;
    color:#00AEEF;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}
.InfoCatNomColUVTech
{
    background-color:#FFFFFF;
    color:#724D9F;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}
.InfoCatColorTablaBarniz
{
    background-color:#00AEEF;
    color:#000000;
}
.estiloMano{
	cursor:hand;
	cursor:pointer;
}
.iframeSinBordes{
    margin: 0px;
    padding: 0px;
    width: 100%;
	height:800px;
}
.colorCafe
{
    color:#D02026;
    font-family: Arial;
    font-size: 12pt;
    font-weight:bold;
}
.MantillasDay table tr td.SIPPadding{
    padding: 0px 4px 0px 0px;
}

@media print {
body {-webkit-print-color-adjust: exact;}
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.multiPic
{
    width:150px; 
    height:80px; 
    background: url(/gs/Global_Imgs/Contenido/descarga.png) no-repeat; 
    /*border:5px solid #000000;*/
    position:relative;
    left:45%;
    bottom: 70px;
     
}
		   
.divFlyer
{
	position: relative;
    right: 0px;
    padding-right: 30px;
	float: right;
	font-weight: normal;
}
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
.Presentacion
{
/*    position:relative;*/
    height:100%;
}
}